.resizer
{
	height : 25%;
}

.fit-content > div 
{
	height : 75%;
	font-size: 5px;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls 
{ 
	display: block !important; 
}


.scrollable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.ui-panel-inner 
{
	padding:0px;
}

.ui-controlgroup 
{
	margin:0;
}
#header 
{
	height:54px;
}
#bars-button 
{
	margin:7px;
	height: 15px; 
	width: auto;
}

#navpanelHome 
{
	margin:20px;
	position: absolute;
}

#navpanelProfile 
{
	margin:20px;
	position: absolute;
}

#navpanelLogin 
{
	margin:20px;
	position: absolute;
}

#navpanelReadingHistory 
{
	margin:20px;
	position: absolute;
}

#readingHistoryBookList
{
	font-size: small;
}
.greenStatus
{
	color: Green;
}
.bookImage
{
	background-image:url("images/book.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	width: 99px;
	height: 150px;
}
.star
{
	background-image:url("images/star.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	width: 10px;
	height: 10px;
}