.resizer
{
	height : 25%;
}

.fit-content > div 
{
	height : 75%;
	font-size: 5px;
}

.ui-panel-inner 
{
	padding:0px; /*make the buttons flush edge to edge*/
}
.ui-controlgroup 
{
	margin:0; /*make the buttons flush to the top*/
}
#header 
{
	height:54px;
}
#bars-button 
{
	margin:7px;
}